
.sign-up-heading
    {
        margin-left: 40%;
    font-size: 1.5em;
    margin-top: 1em;
}
.sign-up-account{
    padding-bottom: 25em;
    padding-top: 1em;
    margin-left: 40%;
}


.btn-user-sign-up-submit{
    padding: 0.5em;
    margin-top: 2em;
    background-color: darkgoldenrod;
    border-radius: 10em;
}


.btn-user-signup{
    margin-top: 1em;
}
.btn-sign-up-message{
    padding: 0.5em;
    margin-top: 2em;
    background-color:darkgoldenrod;
    border-radius: 10em;
}
