.home-appliance-brands-icon{
    width:100%;
    height: 12em;
    padding:2%;
    cursor: pointer;
}

.home-appliance-brands-icon:hover{
    background-color: skyblue;
}


.home-appliance-heading{
    font-size: 3em;
    margin-left: 5.7%;
    padding-bottom: 3%;
    font-family: serif;
}

.rec-pagination{
    display:none;
}

@media only screen and (min-width: 600px) and (max-width:767px){
    .home-appliance-heading {
        font-size: 2.5em;
    }}
    
    @media only screen and (max-width:600px){
        .home-appliance-heading {
            font-size: 1.8em;
        }
    }